.boxContainer {
  display: flex; 
}

.bodyContent {
  margin-top: 10%;
}

.header {
  background-color: navy;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 640;
  margin: 0;
  color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-top: 10%;
}

