.navbar {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 2;
  top: 0;
  position: fixed; 
  width: 100%; 
}

.left img,
.right img {
  max-height: 60px;
  vertical-align: middle;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.right {
  display: flex;
  align-items: center;
    margin-right: 40px;
}

.adminButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.adminButton:hover {
  background-color: #45a049;
  transition: background-color 0.3s ease;
}

/* Style for the navigation links */
.nav-link {
  color: #111; /* Change text color to something visible */
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

/* Style for the navigation links on hover */
.nav-link:hover {
  color: #4CAF50;
}


